@model Student_Web_Api.Models.Domain.Student
@{
    ViewData["Title"] = "Edit Student";
}
<h1 style="text-align:center;">Edit Student</h1>
<div class="row">
    <div class="col-8">
        <div class="col-3">
            <h4>@Model.FirstName @Model.LastName</h4>
            <form asp-action="EditStudent" asp-all-route-id="@Model.Id" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" value="@Model.Id" />
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label">First Name</label>
                    <input asp-for="FirstName" class="form-control" value="@Model.FirstName"/>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label">Last Name</label>
                    <input asp-for="LastName" class="form-control" value="@Model.LastName"/>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label">Address</label>
                    <input asp-for="Address" class="form-control" value="@Model.Address"/>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label">City</label>
                    <input asp-for="City" class="form-control" value="@Model.City"/>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="State" class="control-label">State</label>
                    <input asp-for="State" class="form-control" value="@Model.State"/>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateBirth" class="control-label">Date of Birth</label>
                    <input type="date" asp-for="DateBirth" class="form-control" value="@Model.DateBirth"/>
                    <span asp-validation-for="DateBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sex" class="control-label">Gender</label>
                    <input asp-for="Sex" class="form-control" value="@Model.Sex"/>
                    <span asp-validation-for="Sex" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button class="btn btn-sm btn-primary m-2">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/js/site.js"></script>